<body class ="dbody">
<h1>Create request</h1>

<%= render "form", request: @request %>
<% @request.user_id = current_user.id %>

<br>



<div>
  <%= link_to "Back to requests", requests_path,class:"btn btn-primary" %>
</div>
</body> 
