<div  style="text-align: left;">
 <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"> Contacts of Admin</h5>
      <p class="card-text">
        <p>Email: sasha@gmail.com</p>
        <p>Phone: 066 66 66 666</p></p>

  </div>
    <div clas="text-lg">
       
        
    </div> 
</div> 