<body class="body">

<div  style="text-align: left;">
 <div class="card" style="width: 60rem;background-color: #f0f0f0;">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 4em;"> Contacts of Admin</h5>
      <p class="card-text" style="font-size: 20em;">
        <p style="font-size: 2em;" >Email: sasha@gmail.com</p>
        <p style="font-size: 2em;" >Phone: 066 66 66 666</p></p>

  </div>

    
</div> 
</body>